:root{
    --blue: #5267DF;
    --red: #FA5959;
    --text-color: #242A45;
    --text-color-75: rgb(36, 42, 69, 0.75);
    --text-color-50: rgb(36, 42, 69, 0.5);
}

/* * FOTN FACE * */
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* ** GLOBAL STYLES ** */
html
{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after
{
    box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 36px;
    font-family: "Rubik", Arial, sans-serif;
    letter-spacing: 0.15px;
    background-color: #fff;
    color: var(--text-color-50);
}
img
{
    max-width: 100%;
    height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */


/* * * VISUALLY HIDDEN * * */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    /* border: 3px solid red; */
}
/* * * * BUTTON * * * */
.button{
    display: inline-block;
    padding: 8px 22px;
    border: 2px solid transparent;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.button:active{
    opacity: 0.6;
}
.site-header__button{
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.button--red{
    background-color: var(--red);
    color: #fff;
}
.button--red:hover{
    background-color: #fff;
    color: var(--red);
    border-color: var(--red);
}
.button--blue{
    background-color: var(--blue);
    color: #fff;
}
.button--blue:hover{
    background-color: #fff;
    color: var(--blue);
    border-color: var(--blue);
}
.button--grey{
    background-color: #F7F7F7;
    color: var(--text-color);
}
.button--grey:hover{
    background-color: #fff;
    border-color: #5B6074;
}
.button--block{
    display: block;
}
/* ** MAIN CONTENT ** */
.main-content
{
    flex-grow: 1;
}
/* * * * LOGO * * * */
.logo {
    display: block;
    text-decoration: none;
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.6;
}
.logo__img {
    display: block;
    width: 149px;
    height: 25px;
    object-fit: contain;
}

/* * * * SITENAV * * * */
.sitenav {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.5px;
}
.sitenav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.sitenav__item:not(:last-child) {
    margin-right: 48px;
}
.sitenav-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}
.sitenav-link:hover{
    color: var(--red);
}
.sitenav-link:active{
    opacity: 0.6;
}

/* * * * SECTION * * * */
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section__info {
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.section__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1;
    color: var(--text-color);
}
.section__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    color: var(--text-color-50);
}

/* ** TABS ** */
.tabs__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.tabs__item {
    width: 243px;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}
.tabs__item--active .tabs__link{
    color: var(--text-color);
    border-color: var(--red);
}
.tabs__link {
    display: block;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    color: var(--text-color-75);
    padding-bottom: 27px;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.5px;
    text-align: center;
}
.tabs__link:hover{
    color: var(--red);
}
.tabs__link:active{
    opacity: 0.6;
}
/* +++ tab panels +++ */
.tabpanels {
    padding-top: 75px;
    padding-bottom: 90px;
    background-image: url(../img/blue-pill-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 580px) 156px;
}
.tabpanels__item {
    display: none;
}
.tabpanels__item--active{
    display: block;
}
.feature-tab-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.feature-tab-panel__img {
    object-fit: contain;
    margin-right: 30px;
}
.feature-tab-panel__img--manager-illustration{
    margin-right: 125px;
}
.feature-tab-panel__img--search-interface{
    margin-right: 118px;
}
.feature-tab-panel__img--share-illustration{
    margin-right: 145px;
}
.feature-tab-panel__info {
    max-width: 445px;
}
.feature-tab-panel__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 16px;
}
.feature-tab-panel__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color-50);
    margin-top: 0;
    margin-bottom: 32px;
}

/* * * SITE HEADER * * */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
}
.site-header__container {
    display: flex;
    align-items: center
}
.site-header__logo {
    margin-right: auto;
}
.site-header__sitenav{
    margin-right: 48px;
}

/* * * HERO * * */
.hero {
    padding-top: 66px;
    padding-bottom: 105px;
    background-image: url(../img/blue-pill-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 705px) 200px;
}
.hero__container {
    display: flex;
    align-items: flex-start;
}
.hero__inner {
    width: 100%;
    max-width: 540px;
    padding-top: 66px;
    margin-right: 65px;
    flex-shrink: 0;
}
.hero__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 24px;
}
.hero__description {
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color-50);
    margin-top: 0;
    margin-bottom: 32px;
}
.hero__actions {
    display: flex;
    align-items: center;
}
.hero__action-item:not(:last-child) {
    margin-right: 16px;
}
.hero__img {
    width: 578px;
    height: 385px;
    object-fit: contain;
    flex-shrink: 0;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

/* * * FEATURES * * */
.features__section-info {
    margin-bottom: 72px;
}

/* <!-- * * * / Download the extension \ * * * --> */
.extensions__section-info{
    margin-bottom: 48px;
}
.extensions__inner{
    display: flex;
    justify-content: center;
}
.extensions__list {
    max-width: 945px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -35px;
    list-style: none;
}
.extensions__item {
    max-width: 280px;
    width: 100%;
    margin-left: 35px;
}
.extensions__item:nth-child(3n + 2){
    margin-top: 40px;
}
.extensions__item:nth-child(3n){
    margin-top: 80px;
}
.extension {
    position: relative;
    padding: 50px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 10px 20px -5px #495DCF33;
}
.extension::after{
    position: absolute;
    width: 100%;
    height: 4px;
    background-image: url(../img/circled-devider.svg);
    background-position: center center;
    content: "";
    bottom: 96px;
}
.extension__img {
    margin-bottom: 32px;
    height: 100px;
    object-fit: contain;
}
.extension__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 6px;
}
.extension__browser-version {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color-50);
    margin: 0;
    margin-bottom: 60px;
}

/* * * // Frequently Asked Questions \\ * * */
.faq {
    padding-bottom: 150px;
}
.section__description--faq {
    margin-bottom: 56px;
}
.faq__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.faq__accordion {
    width: 540px;
    margin-bottom: 60px;
}
.accordion {
    border-top: 1px solid rgb(36, 42, 69, 0.15);
}
.accordion__item {
    border-bottom: 1px solid rgb(36, 42, 69, 0.15);
}
.accordion__item-header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 13px;
    padding-right: 24px;
}
.accordion__item-title {
    margin: 0;
    margin-right: 24px;
    flex-grow: 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
}
.accordion__item-header:hover .accordion__item-title{
    color: var(--red);
}
.accordion__item-toggler {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
.accordion__item-toggler::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
}
.accordion__item-toggler-icon{
    display: block;
    width: 20px;
    height: 13px;
    color: var(--blue);
    transition: transform 0.5s ease;
}
.accordion__item--open .accordion__item-toggler-icon{
    transform: rotate(180deg);
    color: var(--red);
}
.accordion__item-content {
    display: none;
    padding-top: 19px;
    padding-bottom: 29px;
}
.accordion__item--open .accordion__item-content{
    display: block;
}
.accordion__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: left;
    color: var(--text-color-75);
    margin: 0;
}

/* | SUBSCRIPTION | */
.subscription {
    background-color: var(--blue);
    padding-top: 58px;
    padding-bottom: 74px;
    color: #fff;
}
.subscription__inner{
    max-width: 445px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.subscription__count-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 24px;
}
.subscription__heading {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.10px;
    margin-top: 0;
    margin-bottom: 36px;
    text-align: center;
}
.subscription__form {
    display: flex;
}
.subscription__field-wrapper {
    position: relative;
    z-index: 1;
    max-width: 300px;
    width: 100%;
    margin-right: 16px;
}
.subscription__field {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
}
.subscription__field:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--red);
    background-image: url("../img/error.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    padding-right: 52px;
}
.subscription__error {
    position: absolute;
    z-index: -1;
    display: none;
    width: 100%;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.25px;
    text-align: left;
    font-style: italic;
    padding: 6px 12px;
    border: 2px solid var(--red);
    background-color: var(--red);
    color: #fff;
    border-radius: 0 0 5px 5px;
    left: 0;
    top: calc(100% - 4px);
}
.subscription__field:not(:focus):not(:placeholder-shown):invalid ~
.subscription__error {
    display: block;
}

/* == FOOTER == */
.site-footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--text-color);
}
.site-footer__container {
    display: flex;
    align-items: center;
}
.site-footer__logo {
    margin-right: 65px;
}
.sitenav-white {
    margin-right: auto;
}
.sitenav-link-footer {
    color: rgb(255, 255, 255, 0.8);
}
.sitenav-link-footer:hover{
    color: var(--red);
}

.footer-socials__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-socials__item:not(:last-child) {
    margin-right: 40px;
}
.footer-social_link {
    display: flex;
    text-decoration: none;
    color: #fff;
}
.footer-social_link:hover{
    color: var(--red);
}
